certifi==2026.5.20
geopandas==1.1.3
joblib==1.5.3
-e git+https://github.com/DiogoParreira/ZKI-PH_Infodengue-Mosqlimate@a25a84c464e0e4f86ee0a69718dda357dddccc59#egg=mosqlimate_sprint
numpy==2.4.6
packaging==26.2
pandas==3.0.3
pathlib==1.0.1
pyogrio==0.12.1
pyproj==3.7.2
python-dateutil==2.9.0.post0
scikit-learn==1.8.0
scipy==1.17.1
scoringrules==0.10.0
shapely==2.1.2
six==1.17.0
threadpoolctl==3.6.0
